@mixin button {
  color: white;
  text-decoration: none;
  background: dodgerblue;
  border-radius: 4px;
  padding: 8px 12px;
  transition: 0.2s ease all;
  height: 44px;
  min-width: 100px;
  border: none;
  cursor: pointer;

  &:hover {
    background: rgb(3, 115, 228);
    color: white;
  }
  
}