@import '../variables.scss';
form {
  margin: 0 0 $baseline*3;
}
label {
    display: block;
    font-weight: bold;
}

select {
  font-size: 1rem;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: $baseline/2 $baseline;
}

input {
  height: 44px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: $baseline/2 $baseline;
}