header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  padding: 16px;
  width: 100%;

  @media screen and (max-width: $small) {
    display: block;
  }

  a {
    text-decoration: none;
    color: #111;
    -webkit-text-stroke: 1px white;

    &:hover {
      color: #111;
    }
  }

  h1 {
    cursor: pointer;
    margin: 0;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.2);

    @media screen and (max-width: $xsmall) {
      font-size: 1.5rem;
    }
    
    em {
      font-size: 3rem;
      @media screen and (max-width: $xsmall) {
        font-size: 2rem;
      }
    }
  }
  p {
    font-size: .9rem;
    color: white;
    margin-left: auto;

    @media screen and (max-width: $small) {
      margin: 0;
      text-align: center;
    }
  }
  sup {
    font-size: .6rem;
    font-weight: normal;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    background: tomato;
    padding: 2px;
    border-radius: 2px;
    color: white;
    -webkit-text-stroke: 0;
  }
}
