header {
  sup {
    font-size: .6rem;
    font-weight: normal;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    background: tomato;
    padding: 2px;
    border-radius: 2px;
    color: white;
  }
}
