.home-container {
  margin: 32px auto;
  width: 96%;
  max-width: 1200px;
  padding: 0 $baseline $baseline * 3;

  @media screen and (max-width: $small) {
    margin-top: 16px;
    padding: 0 0 $baseline * 3;
  }
}

.home {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;

  @media screen and (max-width: 600px) {
    display: block;
    height: auto;
  }

  .home-fly-fse-plane,
  .home-sim-plane {
    @include card;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    min-height: 200px;
    @media screen and (max-width: 600px) {
      min-height: auto;
      margin-bottom: $baseline;
    }

    &:hover {
      background: white;
    }

    &:active {
      transform: translateY(2px);
    }

    font-size: 1.2rem;
    color: #333;
    cursor: pointer;

    em {
      display: block;
      font-size: 2rem;
      font-weight: bold;
      font-style: normal;
    }
  }
}

.what {
  margin: 100px auto 0;
  @include card;
  max-width: 200px;
  z-index: 10;
  text-align: center;
  padding: $baseline;
  cursor: pointer;

  p {
    margin: 0;
    padding: 0;
  }
}
