.search {
  @include card;
}

.search--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-manual,
.search-model {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .search-formItem {
    padding-right: $baseline;
    
    label {
      display: block;
    }
  }  
}