.search {
  @include card;
}

.search--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: $medium) {
    display: block;

    h2 {
      margin: 0;
    }
  }

  @media screen and (max-width: $medium) {
    h2 {
      font-size: 1.2rem;
    }
  }
}
.search-manual,
.search-model {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  @media screen and (max-width: $medium) {
    display: block;
  }

  .search-formItem {
    padding-right: $baseline;

    @media screen and (max-width: $medium) {
      padding: 8px 0 0;
    }
    
    label {
      display: block;
    }
  }  
}