$baseline: 16px;
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$large: 858px;
$medium: 736px;
$small: 600px;
$xsmall: 400px;
